header {
  display: flex;
  justify-content: space-around;

  padding: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
  nav {
    /* From https://css.glass */
    /* From https://css.glass */
    background: rgba(230, 252, 248, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    border: 1px solid rgba(230, 252, 248, 0.3);
    width: 50%;
    height: 70px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include breakpoint("mobile") {
      width: 30%;
    }
    ul {
      display: flex;
      list-style: none;
      @include breakpoint("mobile") {
        display: none;
      }
      li {
        margin-right: 20px;

        a {
          color: $text-color;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }

  .nav-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 12px 16px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0);
    span {
     
     
      display: none;
    }
    :focus {
      text-decoration: none;
      color: blue;
      background-color: rgba(2, 87, 80, 0.226);
      transition: 0.2s;
    }
    :focus span {
      display: inline-block;
      vertical-align: middle;
      // width: 100%;
      margin-left: 5px;
      transition: 0.2s;
    
    }
   
  }
  *:focus {
    outline: none;
    border: none;
  }
}
