#hero {
  width: 100%;
  height: 100vh;
  text-align: center;



  button {
    background-color: $backg;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($backg, 10%);
    }
  }
}
