#hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .contain {
    text-align: left;
    padding: 0 150px;
    h1,
    p {
      color: $backg3;
      margin-bottom: 20px;
    }
  }

  button {
    background-color: #00000000;
    color: $ijo;
    border: none;

    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: padding 0.7s ease;

    &:hover {
      background-color: $ijo;
      color: $backg3;
      padding: 10px 20px;
    }
  }
}
