// Styles

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
  font-family: Arial, sans-serif;
  color: $text-color;

  scrollbar-width: none; /* Firefox */
  ::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  // Responsive styles
  @include breakpoint("tablet") {
    font-size: 16px;
  }

  @include breakpoint("desktop") {
    font-size: 18px;
  }
}

html {
  background-color: #ebebeb;
}

body {
  height: 100vh;
  margin: 0 auto;
  background-color: #fff;
}

svg {
  fill: aqua;
}
.header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  :nth-child(1) {
    color: $text-color;
    font-size: larger;
  }
}
.contolainer {
  padding: 0;
  margin: 0;
}
