section#project {
  color: white;
  padding: 80px 70px;
  background-color: $backg;

  .card-wrap {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    .col {
      flex: 30%;
      max-width: 30%;
    }
  }

  .hov-card {
    width: 100%;
    height: 300px;

    .card-content {
      color: white;
      display: none;
      text-align: center;
      //   background-color: $backg;
      z-index: 1;
      line-height: 2;
      height: 100%;
      padding: 1.5em;
      a {
        color: white;
        width: 115px;
        height: 25px;
        border-radius: 5px;
        background-color: $ijo;

        margin-top: 4em;
        text-decoration: none;
        padding: 8px;
      }
      a:hover {
        background-color: $backg;
        color: $ijo;
      }
      h3 {
        font-weight: bold;
        height: 70px;
        width: auto;
      }
      h4 {
        color: $darkText;
        font-size: 22px;
        height: 50px;
        width: auto;
      }
      p {
        height: 40px;
        width: auto;
        line-height: 1.5;
      }
    }
  }
  .hov-card:hover {
    .card-content {
      display: block;
      background: rgba(192, 244, 242, 0.5);

      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(7.2px);
      -webkit-backdrop-filter: blur(7.2px);
    }
  }
}

.glass {
  background: rgba(192, 244, 242, 1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.2px);
  -webkit-backdrop-filter: blur(7.2px);
  border: 1px solid rgba(192, 244, 242, 0.37);
}

// ====== Pagination =========

$color_1: #dd4124;
$color_2: #fff;

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  > div {
    padding-top: 10px;
  }
}
.paginate-ctn {
  display: flex;
}
.round-effect {
  color: $color_1;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 9px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-decoration: none;
  &:hover {
    text-decoration: none;
    background: #dd4124;
    color: $color_2;
    a {
      text-decoration: none;
      color: $color_2;
    }
  }
}
.active {
  background: #dd4124;
  color: $color_2;
}
a {
  &:link {
    text-decoration: none;
    color: $color_1;
  }
}
